<div class="container narrow-container" style="padding-top: 5%;">

    <!--LOG IN-->
    <div *ngIf="islogin">
        <div class="well login-header">
            <h3 style="color:white;font-size:20px;">Log in to your account</h3>
        </div>
        <div class="col-xs-12 well login-content">
            <div class="form-group col-md-12" style="padding-bottom: 20px;">
                <button type="button" class="btn btn-primary btn-block" style="background-color:#3b5998;">
                    <svg style="width:24px;height:24px; vertical-align: middle;" viewBox="0 0 24 24">
                        <path fill="#FFF"
                              d="M19,4V7H17A1,1 0 0,0 16,8V10H19V13H16V20H13V13H11V10H13V7.5C13,5.56 14.57,4 16.5,4M20,2H4A2,2 0 0,0 2,4V20A2,2 0 0,0 4,22H20A2,2 0 0,0 22,20V4C22,2.89 21.1,2 20,2Z"/>
                    </svg>
                    Log in with Facebook
                </button>
            </div>

            <form #loginForm="ngForm" (ngSubmit)="submitLogin(loginData)">
                <!--Form validation: -->
                <!--Both email and password are required fields and the password should be at least 8-char long-->
                <!--'Login' button is disabled if the form is not valid -->
                <div class="form-group">
                    <label for="login_email">E-mail</label>
                    <input type="email" class="form-control" id="login_email" name="login_email"
                           [(ngModel)]="loginData.email" #login_email="ngModel"
                           required>
                    <div [hidden]="login_email.valid || login_email.pristine"
                         class="alert alert-danger">E-mail is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="login_password">Password</label>
                    <input type="password" class="form-control" id="login_password" name="login_password"
                           [(ngModel)]="loginData.password" #login_password="ngModel"
                           required minlength="8">
                    <div *ngIf="login_password.errors && (login_password.dirty || login_password.touched)"
                         class="alert alert-danger">
                        <div [hidden]="!login_password.errors.required">Password is required</div>
                        <div [hidden]="!login_password.errors.minlength">Your password should be at least
                            8-character
                            long
                        </div>
                    </div>
                </div>

                <div class="checkbox">
                    <label><input #chbox_remember type="checkbox" (change)="remember_user(chbox_remember.checked)">
                        Remember me</label>
                </div>

                <button type="submit" class="btn btn-primary btn-lg sign_in_btn" aria-pressed="true"
                        [disabled]="!loginForm.form.valid">Log in
                </button>
                <a href="/signup" style="margin:5%;">Sign up</a>
            </form>
        </div>
    </div>


    <!-- SIGN UP-->
    <div *ngIf="!islogin">
      <div class="well login-header">
        <h3 style="color:white;font-size:20px;">Sign up for a new account</h3>
      </div>
      <div class="col-xs-12 well login-content">

      <!--Form validation:-->
            <!--All fields are required-->
            <!--Password should be longer than 8 characters and contains at elast one uppercase and one lowercase character-->
            <!--'Submit' button is disabled until all fields are input correctly-->
            <form #regForm="ngForm" (ngSubmit)="submitSignup(regData)">
                <div class="form-group">
                    <label for="reg_username">Username</label>
                    <input type="text" class="form-control" id="reg_username" name="reg_username"
                           [(ngModel)]="regData.username" #reg_username="ngModel"
                           required>
                    <div [hidden]="reg_username.valid || reg_username.pristine"
                         class="alert alert-danger">Username is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="reg_email">E-mail</label>
                    <input type="email" class="form-control" id="reg_email" name="reg_email"
                           [(ngModel)]="regData.email" #reg_email="ngModel"
                           required>
                    <div [hidden]="reg_email.valid || reg_email.pristine"
                         class="alert alert-danger">E-mail is required
                    </div>
                </div>

                <div class="form-group">
                    <label for="reg_password">Password</label>
                    <input type="password" class="form-control" id="reg_password" name="reg_password"
                           [(ngModel)]="regData.password1"
                           #reg_password="ngModel"
                           required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z]).{8,}$">
                    <div *ngIf="reg_password.errors && (reg_password.dirty || reg_password.touched)"
                         class="alert alert-danger">
                        <div [hidden]="!reg_password.errors.required">Password is required</div>
                        <div [hidden]="!reg_password.errors.minlength">Your password should be at least 8-character
                            long
                        </div>
                        <div [hidden]="!reg_password.errors.pattern">Your password should contain at least one upper
                            and one lower case character
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password_repeat">Confirm your password</label>
                    <input type="password" class="form-control" id="password_repeat" name="password_repeat"
                           [(ngModel)]="regData.password2" #password_repeat="ngModel"
                           required minlength="8">
                    <div *ngIf="password_repeat.errors && (password_repeat.dirty || password_repeat.touched)"
                         class="alert alert-danger">
                        <div [hidden]="!password_repeat.errors.required">Password is required</div>
                        <div [hidden]="!password_repeat.errors.minlength">Your password should be at least
                            8-character long
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg sign_in_btn"
                        [disabled]="!regForm.form.valid">Signup
                </button>
            </form>
        </div>
    </div>
</div>
