<div class="container narrow-container" style="padding-top: 5%;">
  <div class="well login-header">
    <h3 style="color:white;font-size:20px;">Sign up for a new account</h3>
  </div>
  <div class="col-xs-12 well login-content">
    <form (ngSubmit)="submitSignup(signupForm.value)"
          [formGroup]="signupForm">

      <!--QUESTIONS -->
      <df-question *ngFor="let question of questions"
                   [question]="question"
                   [form]="signupForm">
      </df-question>
      <button type="submit" class="btn btn-primary btn-lg sign_in_btn"
              [disabled]="!signupForm.valid">Signup
      </button>
    </form>
  </div>
</div>
