<div class="container mid-container">
    <div class="well" style="background-color: white; margin-top: 5%;">
        <div class="row">
            <div class="col-xs-3">
                <img src="http://www.freelanceme.net/Images/default%20profile%20picture.png"
                     class="img-rounded img-responsive" style="width: 200px;">
            </div>
            <div class="col-xs-6">
                <h3>User Name</h3>
                <p>{{ username }}</p>
                <h3>Email</h3>
                <p>{{ email }}</p>
            </div>
            <div class="col-xs-3">
                <p style="cursor:pointer;">Update Details</p>
                <a routerLink="/" class="btn btn-primary" (click)="logOut()">Sign Out</a>
            </div>
        </div>
    </div>
    <div class="btn-group" role="group" style="margin-bottom: 10px; width: 100%">
        <a routerLink="/profile/fav/recipe" routerLinkActive="active"
           class="btn dine-button">Favorite recipes</a>
        <a routerLink="/profile/fav/restaurant" routerLinkActive="active"
           class="btn dine-button">Favorite restaurants</a>
    </div>
</div>
<router-outlet></router-outlet>
