
<div class="container mid-container" style="padding-bottom: 100px">
  <div class = "well" style="background-color:white; margin-top: 3%;">

    <div class="row">
      <div class="col-md-4" dropdown keyboardNav="true">
        <button type="button" class="btn btn-block dropdown-button" dropdownToggle>
          {{ selected_rating }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="simple-btn-keyboard-nav">
          <li *ngFor="let i of ratings" role="menuitem" (click)="setOption('rating', i); selected_rating = i + ' +';">
            <a class="dropdown-item" style="cursor: pointer;">{{ i }} +</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4" dropdown keyboardNav="true">
        <button type="button" class="btn btn-block dropdown-button" dropdownToggle>
          {{ selected_distance }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="simple-btn-keyboard-nav">
          <li *ngFor="let i of distances" role="menuitem" (click)="setOption('distance', i); selected_distance = i;">
            <a class="dropdown-item" style="cursor: pointer;">{{ i }}</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4" dropdown keyboardNav="true">
        <button type="button" class="btn btn-block dropdown-button" dropdownToggle>
          {{ selected_category }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="simple-btn-keyboard-nav">
          <li *ngFor="let i of categories" role="menuitem" (click)="setOption('category', i); selected_category = i;">
            <a class="dropdown-item" style="cursor: pointer;">{{ i }}</a>
          </li>
        </ul>
      </div>
<!--
      <div class="col-md-4" >
        <label>Min Rating</label>
        <select #rating (change)="setOption('rating', rating.value)">
          <option *ngFor="let r of ratings">
            {{ r }}
          </option>
        </select>
      </div>

      <div class="col-md-4" >
        <label>Max Distance(m)</label>
        <select #maxdistance (change)="setOption('distance', maxdistance.value)">
          <option *ngFor="let d of distances">
            {{ d }}
          </option>
        </select>
      </div>

      <div class="col-md-4" >
        <label>Category</label>
        <select #category (change)="setOption('category', category.value)">
          <option *ngFor="let c of categories">
            {{ c }}
          </option>
        </select>
      </div>

    </div>
-->
  </div>
</div>
