<div *ngIf="!atProfile" style="margin-top: 20px;">
    <restaurant-filter (onFilterOptionSet)="onFilterOptionSet($event)"></restaurant-filter>
</div>
<div class="container mid-container">
    <!--Recipe Brief Info-->
    <div *ngFor="let restaurant of restaurants"
         routerLink="/restaurant/detail/{{restaurant.id}}" routerLinkActive="active">

        <div class="well" style="background-color:white; cursor:pointer;">
            <div class="row">
                <!--Recipe Image & Name-->
                <div class="col-md-2">
                    <img src="{{ restaurant.image }}" class="img-rounded img-responsive list-image" alt="Opps!">
                </div>
                <div class="col-xs-8">
                    <h4><b> {{ restaurant.name }} </b></h4>
                    <p><b>Rating: </b>{{restaurant.rating}}</p>
                    <p><b>Address: </b>{{restaurant.address}}</p>
                </div>
                <!--Recipe Bookmark/share icons-->
                <div class="col-xs-2">
                    <i (click)="user.bookmark(restaurant); $event.stopPropagation();" class="material-icons bookmark">
                        {{ restaurant.bookmarked ? 'bookmark' : 'bookmark_border' }}
                    </i>
                    <facebook-share-btn *ngIf="restaurant.url !== null" [url]="restaurant.url"></facebook-share-btn>
                </div>
            </div>
        </div>
    </div>
</div>
