<div *ngIf="!atProfile" style="margin-top: 5%;">
    <restaurant-filter (onFilterOptionSet)="onFilterOptionSet($event)"></restaurant-filter>
</div>
<div class="container mid-container">
    <!--Recipe Brief Info-->
    <div *ngFor="let rst of restaurants"
         routerLink="/restaurant/detail/{{rst.id}}" routerLinkActive="active">

        <div class="col-xs-12 well" style="background-color:white; cursor:pointer;">
            <div class="row">
                <!--Recipe Image & Name-->
                <div class="col-xs-2">
                    <img src="{{ rst.image }}" class="img-rounded img-responsive list-image" alt="Opps!">
                </div>
                <div class="col-xs-8">
                    <h4><b> {{ rst.name }} </b></h4>
                </div>
                <!--Recipe Bookmark/share icons-->
                <div class="col-xs-2" style="float:right;">
                    <i (click)="bookmark($event, rst) " class="material-icons" style="font-size:32px; cursor: pointer;">
                        {{ rst.bookmarked ? 'bookmark' : 'bookmark_border' }}
                    </i>
                    <facebook-share-btn *ngIf="rst.url !== null" [url]="rst.url"></facebook-share-btn>
                </div>
            </div>
        </div>
    </div>
</div>
