<div class="navigation-bar">

  <span class="brand" (click)="jump('/')">
    What 2 Eat Today
  </span>

    <span *ngIf="!loggedIn()" (click)="jump('/login')" style="float: right;"
          class="btn btn-primary sign_in_btn">Sign in</span>

    <span *ngIf="loggedIn()" (click)="jump('/profile')"
          style="color:black; cursor: pointer; text-align: center; float: right; font-size: large;">
    <img *ngIf="user.getImage()" src="{{user.getImage()}}"
         style="width: 30px; height: 30px; margin: 3px; display: inline-block;">
    <img *ngIf="!user.getImage()" src="{{default_profile_img}}"
         style="width: 30px; height: 30px; margin: 3px; display: inline-block;">
    {{ username }}
  </span>
</div>

<router-outlet></router-outlet>
<div class="footer">© University of Sydney ELEC3609 G7 2016</div>
