
<div style="margin-top: 10%;">
<recipe-filter (onFilterOptionSet)="onFilterOptionSet($event)" ></recipe-filter>
</div>

<div class="container">
    <ul>
        <!--Recipe Brief Info-->
        <li *ngFor="let recipe of recipes"
            [class.selected]="recipe === selectedRecipe"
            (click)="onSelectRecipe(recipe)">

            <div class="col-xs-12 well">
                <div class="row">
                    <!--Recipe Image & Name-->
                    <div class="col-xs-4">
                        <img src="{{ recipe.image }}" class="img-rounded img-responsive" alt="Opps!" style=" height: 100px;
    width: 100px;">
                    </div>
                    <div class="col-xs-5">
                        <h4><b> {{ recipe.name }} </b></h4>
                    </div>
                    <!--Recipe Bookmark/share icons-->
                    <div class="col-xs-2" style="float:right;">
                        <i class="material-icons" style="font-size:20px;">bookmark_border</i>
                        <facebook-share-btn  *ngIf="recipe.url !== null"  [url]="recipe.url"></facebook-share-btn>
                        <!--when click on the icon, change to the one below
                        <i class="material-icons">bookmark</i>-->
                    </div>
                </div>
            </div>
        </li>

    </ul>
</div>
