<div class="container narrow-container">
    <button (click)="go_back()">BACK</button>
    <button (click)="go_next()">NEXT</button>

    <facebook-share-btn *ngIf="recipe.url !== null" [url]="recipe.url"></facebook-share-btn>
    <ul>
        <li>Name:  {{ recipe.name }}</li>
        <li>Url:  {{ recipe.url}}</li>
        <li>Duration: {{recipe.duration}} minutes</li>
        <li *ngFor="let ingrd of recipe.ingredients">
          {{ ingrd.name }}
        </li>
    </ul>

  <ul>
    <li *ngFor="let ingrd of recipe.ingredients">
      {{ ingrd.name }}
    </li>
  </ul>
    <img src="{{recipe.image}}">
</div>
