
<body class="full">

<!--Main content-->
<div class="container">
  <!--<div class="container" style="margin-top:10%;"></div>-->
  <h1 style="color:white; text-align:center; padding-top:10%; font-family: 'Oleo Script', cursive;
">How would you like to eat today</h1>
  <div class="row" style="padding-bottom:220px;">
    <a routerLink="/recipe" class="btn btn-lg col-md-6 dine-button">Cook at Home</a>
    <a routerLink="/restaurant" class="btn btn-lg col-md-6 dine-button">Dine Out</a>
  </div>

</div>
</body>
